.bookmark-header:after {
    content: ' ';
    display: block;
    clear: both;
}

.bookmark-header > div {
    float: left;
    line-height: 28px;
    padding-left: 10px;
    font-weight: bold;
    overflow: hidden;
    color: #afafaf;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #16202D;
    border: 1px solid rgba(0, 0, 0, 0);
    margin: 8px 0 10px;
    vertical-align: middle;
}

.bookmark-header .name {
    width: 60%;
}

.bookmark-header .volume,
.bookmark-header .price {
    width: 17%;
    border-left: 1px solid #404040
}

.bookmark-header .action {
    width: 6%;
}

.bookmark-row {
    margin-bottom: 5px;
    clear: both;
    border: 1px solid #16202D;
}

.bookmark-row:after {
    content: ' ';
    display: block;
    clear: both;
}

.bookmark-row:hover {
    border: 1px solid #324965;
}

.bookmark-row > div {
    background-color: #16202D;
    border: 1px solid rgba(0, 0, 0, 0);
    float: left;
    line-height: 20px;
    padding: 3px;
    overflow: hidden;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.bookmark-row .name {
    width: 60%;
    white-space: nowrap;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.bookmark-row .name img {
    float: left;
    margin-right: 10px;
    background: #333;
    border: 1px solid;
}

.bookmark-row .name a {
    text-decoration: none;
    color: #d2d2d2;
    font-weight: bold;
}

.bookmark-row .volume,
.bookmark-row .price {
    width: 17%;
    height: 48px;
}

.bookmark-row .remove {
    width: 6%;
    height: 48px;
    padding-top: 12px;
    text-align: right;
}

.bookmark-row .remove .remove-bookmark {
    color: #ffffff;
    cursor: pointer;
    background: #0d161d;
    padding: 5px 10px 7px 11px;
}

.bookmark-row .remove .remove-bookmark:hover {
    background: #2b475e;
}

#div_Categories #cb_bookmarkscategories {
    border-color: #16202D;
    background-color: #16202D;
    height: 22px;
    color: #ffffff;
}

#div_Categories a {
  margin-left: 8px;
}
