body {
    font-family: Verdana, Tahoma, Geneva, 'DejaVu Sans', sans-serif;
    font-size: 10pt;
}

.note {
    background: #16202D;
    text-align: left;
    color: #8F98A0;
    font-size: 14px;
    margin-bottom: 14px;
    padding: 12px;
}

.note h3 {
    color: #66C0F4;
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    font-family: Motiva Sans Light, Arial, Helvetica, sans-serif;
}

.note ul {
    padding-left: 17px;
    margin-bottom: 0;
}

.note li {
    margin-bottom: 5px;
}
