body{
    background-color: #1d2124;
}

p, b, th, tr, ul, li,a{
    color: #e1e1e1
}

a{
    color: rgb(255, 215, 0);;
}

a:hover {
    color: #e1e1e1;
    text-decoration: underline;
}

h1, h2, h3, h4, h5{
    color: darkorange;
}

h1{
    margin: 1rem;
}
.buildingBlock{
    background-color: #23272b;
    margin: 1rem;
    padding: 1rem;
}