.custom-buttons {
    margin-bottom: 15px;
}

.custom-button {
    padding: 3px 20px 3px 5px;
    border: 1px solid;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    text-decoration: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #121212;
}

.custom-button a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: .8em;
    position: absolute;
    top: 2px;
    right: 2px;
    line-height: 13px;
    width: 12px;
    text-align: center;
    border-radius: 2px;
    background-color: rgba(77, 77, 77, 0.5);
    padding: 2px;
}

.custom-button .name {
    margin-right: 5px;
}

.custom-button.active {
    color: #FFF;
    background-color: rgb(0, 0, 238);
    border: rgb(0, 0, 238) 1px solid;
}

.controls {
    height: 37px;
}

.green,
.green-select,
.green-radio {
    border: none;
    border-radius: 3px;
    background: -webkit-linear-gradient(90deg, #54712a 0%, #94c054 100%);
    background: -moz-linear-gradient(90deg, #54712a 0%, #94c054 100%);
    background: -o-linear-gradient(90deg, #54712a 0%, #94c054 100%);
    background: -ms-linear-gradient(90deg, #54712a 0%, #94c054 100%);
    background: linear-gradient(0deg, #54712a 0%, #94c054 100%);
    color: #ffffff;
    padding: 5px 7px;
    text-decoration: none;
}

.green-select {
    padding: 4px 5px;
}

.green-select option {
    background: #94c054;
}

.green-radio {
    margin-right: 0;
    margin-left: 10px;
}

.green-radio.active {
    background: -webkit-linear-gradient(90deg, #2B3C16 0%, #536B30 100%);
    background: -moz-linear-gradient(90deg, #2B3C16 0%, #536B30 100%);
    background: -o-linear-gradient(90deg, #2B3C16 0%, #536B30 100%);
    background: -ms-linear-gradient(90deg, #2B3C16 0%, #536B30 100%);
    background: linear-gradient(0deg, #2B3C16 0%, #536B30 100%);
    background-color: transparent !important;
    border: none !important;
}

.green:hover,
.green-radio:hover,
.green-select:hover {
    background: -webkit-linear-gradient(90deg, #54691c 0%, #6f8937 100%);
    background: -moz-linear-gradient(90deg, #54691c 0%, #6f8937 100%);
    background: -o-linear-gradient(90deg, #54691c 0%, #6f8937 100%);
    background: -ms-linear-gradient(90deg, #54691c 0%, #6f8937 100%);
    background: linear-gradient(0deg, #54691c 0%, #6f8937 100%);
    background-color: transparent !important;
    border: none !important;
}