@font-face {
  font-family: 'fontello';
  src: url('chrome-extension://__MSG_@@extension_id__/font/fontello.eot?15774160');
  src: url('chrome-extension://__MSG_@@extension_id__/font/fontello.eot?15774160#iefix') format('embedded-opentype'),
       url('chrome-extension://__MSG_@@extension_id__/font/fontello.woff2?15774160') format('woff2'),
       url('chrome-extension://__MSG_@@extension_id__/font/fontello.woff?15774160') format('woff'),
       url('chrome-extension://__MSG_@@extension_id__/font/fontello.ttf?15774160') format('truetype'),
       url('chrome-extension://__MSG_@@extension_id__/font/fontello.svg?15774160#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('chrome-extension://__MSG_@@extension_id__/font/fontello.svg?15774160#fontello') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-check-circled:before { content: '\e800'; } /* '' */
.icon-check:before { content: '\e801'; } /* '' */
.icon-check-squared:before { content: '\e802'; } /* '' */
.icon-eye:before { content: '\e803'; } /* '' */
.icon-refresh:before { content: '\e804'; } /* '' */
.icon-reload:before { content: '\e805'; } /* '' */
.icon-trash-empty:before { content: '\e806'; } /* '' */
.icon-plus-circled:before { content: '\e807'; } /* '' */
.icon-minus-circled:before { content: '\e808'; } /* '' */
.icon-info-circled:before { content: '\e809'; } /* '' */
.icon-attention-circled:before { content: '\e80a'; } /* '' */
.icon-attention:before { content: '\e80b'; } /* '' */
.icon-error:before { content: '\e80c'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-steam:before { content: '\f1b6'; } /* '' */
.icon-steam-squared:before { content: '\f1b7'; } /* '' */
.icon-twitch:before { content: '\f1e8'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-youtube:before { content: '\f313'; } /* '' */
