:root {
    --steam-nametag-red: #bd4847;
    --steam-ingame-green: #90ba3c;
    --steam-online-blue: #57cbde;
    --steam-offline-gray: #898989;
    --steam-stattrak-orange: rgb(207, 106, 50);
    --steam-note-blue: rgb(153, 204, 255);
    --steam-knife-purple: rgb(134, 80, 172);
    --steam-souvenir-yellow: rgb(255, 215, 0);
    --steam-sale-golden: #e4ca63;
}

/*bootstrap progress bar*/
progress {
    vertical-align: baseline;
}

@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 1rem 0;
    }
    to {
        background-position: 0 0;
    }
}

@keyframes progress-bar-stripes {
    from {
        background-position: 1rem 0;
    }
    to {
        background-position: 0 0;
    }
}

.progress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 0.5rem;
    overflow: hidden;
    font-size: 0.75rem;
    /*background-color: #e9ecef;*/
    border-radius: 0.25rem;
    margin: 0;
}

.progress-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    background-color: #007bff;
    transition: width 0.6s ease;
    margin: 0;
}

.tradability{
    text-align: center;
    margin: 0.5rem;
    font-size: 1rem;
}

.tradable{
    color: var(--steam-ingame-green);
}

.not_tradable{
    color: var(--steam-nametag-red);
}

.countdown{
    text-align: center;
    color: var(--steam-nametag-red);
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.perItemDate{
    color: var(--steam-nametag-red);
    position: relative;
    left: 5%;
    bottom: 95%;
}

.dopplerPhase{
    color: white;
    position: relative;
    left: 42%;
    bottom: 110%;
    font-size: 0.8rem;
}

.dopplerPhaseMarket{
    color: white;
    position: relative;
    left: -60%;
    top: 10%;
}

.floatBar{
    position: relative;
    top: -35px;
}

.floatBarFN{
    width: 7%;
    background-color: var(--steam-online-blue);
}

.floatBarMW{
    width: 8%;
    background-color: var(--steam-ingame-green);
}

.floatBarFT{
    width: 23%;
    background-color: var(--steam-souvenir-yellow);
}

.floatBarWW{
    width: 7%;
    background-color: var(--steam-stattrak-orange);
}

.floatBarBS{
    width: 55%;
    background-color: var(--steam-nametag-red);
}

.floatPointer{
    height: 15px;
    width: 15px;
    margin: 0;
}

.floatToolTip{
    position: relative;
    top: 7px;
    left: -2%;
    color: white;
}

.note{
    color: var(--steam-note-blue);
    margin-bottom: 1rem;
}

.gemIcon{
    width: 18px !important;
    height: 18px !important;
}

.exteriorIndicator{
    color: var(--steam-note-blue);
    position: relative;
    left: 73%;
    bottom: 110%;
    font-size: 0.8rem;
}

.otherExteriors{
    color: var(--steam-note-blue);
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.stattrakOrange{
    color: var(--steam-stattrak-orange) !important;
}

.souvenirYellow{
    color: var(--steam-souvenir-yellow) !important;
}