body {
    font-family: Verdana, Tahoma, Geneva, 'DejaVu Sans', sans-serif;
    font-size: 9pt;
}

body.dark {
    background: #090a13;
    color: #ababab;
}

body.dark a {
    color: #e0e0e0;
}

label {
    white-space: nowrap;
}

.main-panel {
    min-width: 600px /* 765px */;
}

h1 {
    margin: 0;
    font-size: 24px;
    height: 35px;
    padding: 10px 5px;
}

h2 {
    font-size: 14px;
}

h3 {
    font-size: 14px;
    margin: 0;
    padding: 4px 5px;
    height: 20px;
}

h4 {
    font-size: 20px;
    margin: 0;
    padding: 5px 5px 5px;
    height: 30px;
}

.block-title {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(15%, #43566E), color-stop(85%, #272727));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#43566E', endColorstr='#272727', GradientType=0);
    background: -moz-linear-gradient(top, #43566E 15%, #272727 85%);
    background: -webkit-linear-gradient(top, #43566E 15%, #272727 85%);
    background: -o-linear-gradient(top, #43566E 15%, #272727 85%);
    background: -ms-linear-gradient(top, #43566E 15%, #272727 85%);
    background: linear-gradient(to bottom, #43566E 15%, #272727 85%);
    font-weight: normal;
    margin-bottom: 5px;
    font-family: Motiva Sans Light, Arial, Helvetica, sans-serif;
    color: #eaecd5;
}

.left,
.right {
    float: left;
}

.left {
    line-height: 15px;
    width: 175px;
}

.right {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 175px;
    margin-left: -175px;
}

.tabs {
    display: block;
    height: 36px;
    background: transparent;
    border-bottom: 4px solid #50719A;
}

.tabs .tab {
    background: rgba(197, 222, 236, 0.1);
    border-radius: 2px 2px 0 0;
    color: #ffffff;
    display: block;
    float: left;
    height: 29px;
    line-height: 29px;
    margin-top: 7px;
    margin-right: 4px;
    padding: 0 12px;
    text-decoration: none;
}

.tabs .tab:last-child {
  margin-right: 0;
}

.settings:hover,
.tab:hover {
    background: rgba(102, 192, 244, 0.8);
}

.settings {
  float: right;
  background: linear-gradient(to bottom, #5098C1 5%, #50719A 95%);
  border: none;
  box-sizing: border-box;
  height: 26px;
  color: #fff !important;
  border-radius: 2px;
  font-weight: bold;
  padding: 0 12px;
  text-decoration: none;
  text-align: center;
  line-height: 26px;
}

.tabs .active {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #5098C1), color-stop(95%, #50719A));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5098C1', endColorstr='#50719A', GradientType=0);
    background: -moz-linear-gradient(top, #5098C1 5%, #50719A 95%);
    background: -webkit-linear-gradient(top, #5098C1 5%, #50719A 95%);
    background: -o-linear-gradient(top, #5098C1 5%, #50719A 95%);
    background: -ms-linear-gradient(top, #5098C1 5%, #50719A 95%);
    background: linear-gradient(to bottom, #5098C1 5%, #50719A 95%);
    border: none;
    border-radius: 4px 4px 0 0;
    color: #ebebeb;
    font-weight: bold;
    height: 36px;
    line-height: 35px;
    margin-top: 0;
    padding: 0 10px;
    text-decoration: none;
}

.content a.email {
    text-decoration: none;
    color: #777;
}

.content a.email:hover {
    color: #333;
}

.content a.link {
    display: block;
    margin: 10px 0;
}

.content .row,
.content-block .row {
    padding: 7px;
}

.content-block {
    background: #272727;
    border: 1px solid #4a4a4a;
    margin: 10px 0;
    min-height: 66px;
}

.block-content input[type='text'],
.content-block input[type='text'],
.content-block input[type='url'],
.content-block input[type='number'],
.content-block input[type='color'] {
    background: #121212;
    border: 1px solid #000;
    border-radius: 3px;
}

.content-block input[type='text'],
.content-block input[type='url'],
.content-block input[type='number'] {
    color: #ababab;
    height: 22px;
    padding: 1px 3px;
    text-align: left;
}

.content-block input[type='range'] {
    -webkit-appearance: none;
}

.content-block input[type='range']::-webkit-slider-runnable-track {
    width: 300px;
    height: 8px;
    background: #121212;
    border: 1px solid #000000;
}

.content-block input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #4a4a4a;
    margin-top: -4px;
}

.content-block select {
    border-color: #000;
    background: #000;
    height: 22px;
    color: #9c9c9c;
}

.content-block a.link {
    margin: 0;
}

.row:after {
    display: block;
    height: 1px;
    clear: both;
    content: '';
}

.align-right {
    text-align: right;
}

.email {
    color: #808080;
}

.email a {
    text-decoration: none;
    font-weight: bold;
    color: #808080;
}

.email a:hover {
    color: #000;
}

.hd1 {
    background: #697983;
    color: #FFF;
    line-height: 34px;
    padding-left: 20px;
    margin: 3px 0;
}

.table {
    background-color: #16202D;
    border-collapse: collapse;
    margin: 10px auto auto;
    width: 60%;
}

.table thead th {
    border: 1px solid #16202D;
    border-right-color: #404040;
    border-bottom: none;
    padding: 5px 20px;
}

.table thead th:last-child {
    border-right-color: #16202D;
}

.table tbody tr {
    border: 1px solid #16202D;
}

.table tbody td {
    border: none;
    padding: 5px 10px;
}

#spanGraphData {
    text-align: center;
    margin-top: 15px;
}

.info {
    background: #16202D;
    text-align: left;
    color: #8F98A0;
    font-size: 14px;
    padding: 12px;
}

.info h1 {
    color: #66C0F4;
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
