.select-checkbox {
    float: right;
    margin-right: 8px;
    margin-top: 8px;
    position: absolute;
    right: 0px;
}

#Txt_Filter, #Txt_Filter_Buying {
    width: 300px;
}

.market_listing_right_cell.market_listing_edit_buttons,
.market_listing_cancel_button {
    position: relative;
}

.red-bg {
    background-color: #553333;
}

.bookmark-categories:after {
    content: " ";
    clear: both;
}

.bookmark-categories .category {
    margin-right: 20px;
    display: inline-block;
    line-height: 24px;
    padding: 3px 10px;
    background: #1F1F1F;
    border: 1px #808080 solid;
    min-width: 120px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.bookmark-categories .category.active,
.bookmark-categories .category:hover {
    background: #2F2F2F;
}

.bookmark-categories .category.active {
    color: #FF0;
}

#filter_clear_btn_buying {
    position: absolute;
    right: 4px;
    top: 7px;
    width: 16px;
    height: 16px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAVdJREFUeNqM009EBGEYx/GZbSwRe4qI/lw6bDZLW4eUKFJEl05Rx9KpxJ4iukWXutQhkTp26hDpkFJERFqW6LpEpxgiou/Lb3j2Nat9+Bzmmfd95n3ed96wVCoFKdGCIvKI8YZq2sDIe+7ANhbQ5r2rYReH+EmSGTNgHK9YTpnsohN7uNeH6goUcIH24P8YxjVabYFT5Mygy5SJN2bp7oNbSYFpbVgS+5jFuskdYworJrfmWo1UwIbbwDMV+kI/yuq7bMa5FkZdgV6vgNuHW63iRLketeCPzWd05n64U+gzz9125224Au9e7hdLOMIQ5nGHSbVko+oKXHnJHe3BhJZ9jlU8epv4jYdIBZ4xqBcbOq5NZJU7QBcWvdOKQ92Fgv6wXNBcvGDErSL5kSqYw2cTk58woxbq7oLbqAH9NHHKxJp+rjF8JMmwwXXOqq2iilUaXec/AQYATLo/RECYZloAAAAASUVORK5CYII=);
    background-repeat: no-repeat;
    z-index: 12;
    cursor: pointer;
}

.price-label {
    width: 100%;
    line-height: 15px;
    font-size: 12px;
    display: block;
    text-align: center;
}

.label {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #769604), color-stop(95%, #526615));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#769604', endColorstr='#526615', GradientType=0);
    background: -moz-linear-gradient(top, #769604 5%, #526615 95%);
    background: -webkit-linear-gradient(top, #769604 5%, #526615 95%);
    background: -o-linear-gradient(top, #769604 5%, #526615 95%);
    background: -ms-linear-gradient(top, #769604 5%, #526615 95%);
    background: linear-gradient(to bottom, #769604 5%, #526615 95%);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    font-size: 11px;
    color: #ffffff;
    padding: 2px 5px;
    border-radius: 3px;
    height: 13px;
    line-height: 12px;
    margin-top: 4px;
    width: 67%;
    cursor: pointer;
}

.market_table_value {
    margin: 7px 0 !important;
    display: block !important;
}

.btnControl {
  color: rgb(235, 235, 235);
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  height: 24px;
  line-height: 0px;
  text-align: left;
  box-sizing: border-box;
  background: linear-gradient(0deg, #517124 0%, #84bb3c 100%);
  width: 24px;
  height: 24px;
}

.btnControl > span {
    float: left;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    padding: 0px 4px;
    text-align: center;
}
