{
    "semi": true,
    "trailingComma": "all",
    "singleQuote": true,
    "jsxSingleQuote": true,
    "printWidth": 120,
    "tabWidth": 4,
    "useTabs": false,
    "importOrder": [
        "^react",
        "^types\/(.*)$",
        "^utils\/(?!.*helpers)(.*)$", 
        "^utils\/helpers\/(.*)$", 
        "^[./]",
        "^components\/(.*)$", 
        "^@",
        "^assets\/(.*)$",
        "^pages\/(.*)$"
    ],
    "importOrderSeparation": true
}