.options {
  &__side-nav {
    div {
      background-color: $background-secondary;
      padding: 1rem;
      padding-top: 2rem;
      margin-right: -1rem;
    }
  }

  .buildingBlock {
    margin: 0;
  }
}
