.popup {
  text-align: center;
  background-color: $background-primary;
  padding: 10px;
  img {
    margin: 5px auto;
  }
  h5 {
    white-space: nowrap;
    padding: 10px;
    color: $color-secondary;

    span {
      color: white;
    }
  }

  a {
    color: $color-primary;
    margin: 5px auto;
    &:hover {
      color: #e1e1e1;
      text-decoration: underline;
    }
  }
}
