.button {
  border: none;
  margin-right: 10px;
  padding: 5px 15px;
  border-radius: 3px;
  color: black;

  &__save {
    background: $color-secondary;
  }

  &__cancel {
    background: $color-primary;
  }

  &__remove {
    background: $color-third;
  }
}

.customButton {
  cursor: pointer;
}
