.nav {
  &--shadow {
    -webkit-box-shadow: -1px 4px 15px -6px rgba(0, 0, 0, 1);
    -moz-box-shadow: -1px 4px 15px -6px rgba(0, 0, 0, 1);
    box-shadow: -1px 4px 15px -6px rgba(0, 0, 0, 1);
  }

  &--dark {
    background: #23272b;
  }

  &__sidebar {
    background-color: #212529;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 0;
    border-right: 1px solid rgba(255, 255, 255, 0.2);

    .nav-link {
      &.sideNavActive {
        color: white;
        background: #1c2125;
      }

      &:hover {
        background: #1c2125;
      }
    }
  }
}
