.react-datepicker {
  background-color: $background-primary;
  color: $color-datepicker !important;

  &__triangle {
    border-bottom-color: $background-primary !important;
    color: $color-datepicker !important;
  }

  &__current-month {
    color: $color-datepicker !important;
  }

  &__month-container, &__time-container {
    background-color: $background-primary;
    color: $color-datepicker !important;
    border-radius: 0.3rem !important;

    .react-datepicker__header, .react-datepicker-time__header {
      background-color: $background-primary;
      color: $color-datepicker !important;
      border-radius: 0.3rem !important;
    }
  }

  &__day-name {
    color: $color-datepicker !important;
  }

  &__day, &__time-list-item  {
    color: $color-datepicker !important;

    &:hover {
      color: black !important;
    }

    &--selected {
      background: darkorange !important;
      color: black !important;
    }
  }

  &__month, &__time-list {
    background-color: $background-primary;
    color: $color-datepicker !important;
  }
}
