.trade-history {
  &__list-item {
    border-bottom: 3px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 30px;
    margin-bottom: 30px;
  }

  &__summary {
    float: right;
  }

  &__icon {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 100%;

    &--profit {
      color: #82c91e;
    }

    &--loss {
      color: #c91e36;
    }
  }

  &__headline {
    margin: 1rem 0;
  }

  &__controls {
    padding: 0px 0px 20px 0px;
  }

  &__control {
    margin-left: 20px;
  }

  &__exchange {
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }

  &__third {
    width: 40%;
    display: inline-block;
    position: relative;

    &--narrower {
      width: 20%;
    }
  }

  &__profit {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 1.1rem;

    &--profit {
      color: #82c91e;
    }

    &--loss {
      color: red;
    }
  }

  &__title {
    margin-bottom: 5px;
  }

  &__date-of-trade {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 20px;
    display: block;
  }
}
