:root {
    --steam-nametag-red: #bd4847;
    --steam-ingame-green: #90ba3c;
    --steam-online-blue: #57cbde;
    --steam-offline-gray: #898989;
    --steam-stattrak-orange: rgb(207, 106, 50);
    --steam-note-blue: rgb(153, 204, 255);
    --steam-knife-purple: rgb(134, 80, 172);
    --steam-souvenir-yellow: rgb(255, 215, 0);
    --steam-sale-golden: #e4ca63;
}

#inventory_function_bar {
    margin: 0 15px 2px 15px;
}

#functionBarValues{
    font-size: 1.5rem;
}

#functionBarActions{
    font-size: 1.2rem;
}

.functionBarRow{
    height: 30px;
}

#inventoryTotal {
    float: right;
}

#offer_function_bar{
    margin-top: -18px;
    margin-bottom: 2px;
}

#selectedTotal{
    float: left;
}

#sortingMethod{
    font-size: 1.2rem;
}

#sortingMenu{
    float: right;
}

.keyNumberInput{
    width: 50px;
}

#functionBarGenerateMenu{
    height: auto;
}

#generate_delimiter{
    width: 15px;
}

#generate_options{
    margin-top: 5px;
}

#generate_button{
    margin-left: 15px;
    text-decoration: underline;
    font-size: 1rem;
}

#sellButton{
    font-size: 1rem;
    font-weight: bold;
    float: right;
    margin-right: 20px;
}

#retryStartingAt{
    font-weight: bold;
    float: right;
    margin-right: 10px;
}

/*bootstrap progress bar*/
progress {
    vertical-align: baseline;
}

@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 1rem 0;
    }
    to {
        background-position: 0 0;
    }
}

@keyframes progress-bar-stripes {
    from {
        background-position: 1rem 0;
    }
    to {
        background-position: 0 0;
    }
}

.trade_offers_module{
    padding-top: 24px;
    padding-left: 48px;
}

.hidden-copy-textarea{
    position: absolute;
    left: -9999px
}

.offer_action{
    margin-right: 10px;
}

.hidden {
    display: none;
}

.progress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 0.5rem;
    overflow: hidden;
    font-size: 0.75rem;
    /*background-color: #e9ecef;*/
    border-radius: 0.25rem;
    margin: 0;
}

.progress-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    background-color: #007bff;
    transition: width 0.6s ease;
    margin: 0;
}

.tradability{
    text-align: center;
    margin: 0.5rem;
    font-size: 1rem;
}

.tradable{
    color: var(--steam-ingame-green);
}

.not_tradable{
    color: var(--steam-nametag-red);
}

.countdown{
    text-align: center;
    color: var(--steam-nametag-red);
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.perItemDate{
    position: absolute;
    left: 5px;
    top: 5px;
    font-size: 0.8rem;
}

.dopplerPhase{
    color: white;
    position: absolute;
    left: 42%;
    top: 5px;
    font-size: 0.8rem;
}

.dopplerPhaseMarket{
    color: white;
    position: absolute;
    left:40%;
    top: 10%;
}

.floatBar{
    position: relative;
    top: -35px;
}

.floatBarMarket{
    width: 480px;
}

.floatBarFN{
    width: 7%;
    background-color: var(--steam-online-blue);
}

.floatBarMW{
    width: 8%;
    background-color: var(--steam-ingame-green);
}

.floatBarFT{
    width: 23%;
    background-color: var(--steam-souvenir-yellow);
}

.floatBarWW{
    width: 7%;
    background-color: var(--steam-stattrak-orange);
}

.floatBarBS{
    width: 55%;
    background-color: var(--steam-nametag-red);
}

.floatPointer{
    height: 15px;
    width: 15px;
    margin: 0;
}

.floatToolTip{
    position: relative;
    top: 7px;
    left: -2%;
    color: white;
    width: 100px;
}

.floatTechnical{
    margin-top: 0.5rem;
}

.showTechnical{
    font-size: 0.5rem;
    text-align: center;
}

.floatIndicator{
    color: #b3cae8;
    font-size: 0.6rem;
    position: absolute;
    bottom: 20px;
    margin-bottom: 0;
    margin-left: 5px;
}

.note{
    color: var(--steam-note-blue);
    margin-bottom: 1rem;
}

.gemIcon{
    width: 18px !important;
    height: 18px !important;
}

.exteriorSTInfo{
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 0.8rem;
}

.priceIndicator{
    color: white;
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: 0.8rem;
}

.exteriorIndicator{
    color: var(--steam-note-blue);
}

.otherExteriors{
    color: var(--steam-note-blue);
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.customStickers{
    position: absolute;
    top: 5px;
    right: 5px;
}

.stickerIcon{
    width: 64px;
    height: 48px;
}

.stickerIcon:hover {
    transform: scale(1.5);
}

.stickerHolderMarket{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.stattrakOrange{
    color: var(--steam-stattrak-orange) !important;
}

.souvenirYellow{
    color: var(--steam-souvenir-yellow) !important;
}

.activeInfo{
    border-color: white !important;
}

.selected{
    border: 1px dashed white !important;
}

#selectButton{
    width: 20px;
    height: 20px;
}

#generate_list{
    width: 20px;
    height: 20px;
}

#listingTable{
    border-bottom: solid;
    border-width: 1px;
    margin-bottom: 5px;
    width: 100%;
}

.nametag{
    color: var(--steam-nametag-red);
    font-size: 1.2rem;
    position: absolute;
    top: 10px;
    right: 80px;
}

.duplicate{
    color: yellow;
    position: absolute;
    left: 25px;
    top: 150px;
    font-size: 2.5em;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.patternInfo{
    position: relative;
    left: 0;
    bottom: 15px;
    font-size: 1.5em;
    color: white;
}

.fadeGradient{
    background: linear-gradient(to right, #ffc94b 0%, #ca6390 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.marbleFadeGradient{
    background: linear-gradient(to right, #ff0000 0%, #0000ff 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.caseHardenedGradient{
    background: linear-gradient(to right, #ffc94b 0%, #68568d 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.market_sorting{
    margin-top: 5px;
}

.originalPrice{
    font-size: 0.7rem;
}

.underline{
    text-decoration: underline;
}

.strikethrough{
    text-decoration: line-through;
}

.sold{
    opacity: 30%;
}

.whiteBackground{
    background-color: white;
}

.offerHistory{
    color: lightgray
}

.userPriceInput{
    width: 50px;
}

.clickable {
    cursor: pointer;
}

/**
 * Tooltip Styles
 */

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: 160px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid hsla(0, 0%, 20%, 0.9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}
/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    opacity: 1;
}


/*Market tooltip - the simple data-tooltip seems to collide with something with the name*/

/* Add this attribute to the element that needs a tooltip */
[data-tooltip-market] {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip-market]:before,
[data-tooltip-market]:after {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip-market]:before {
    position: absolute;
    bottom: 350%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: 160px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip-market);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip-market]:after {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid hsla(0, 0%, 20%, 0.9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip-market]:hover:before,
[data-tooltip-market]:hover:after {
    visibility: visible;
    opacity: 1;
}