.bookmark {
  background-color: #23272b;
  padding: 0.5rem;
  margin: 0.5rem auto 0.5rem auto;
  width: 286px;
  border-bottom: solid;
  border-width: 4px;

  a {
    color: white;
  }

  .itemName {
    color: white;
  }

  .actions {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;

    .action {
      margin: 10px;
    }
  }

}