$color-primary: var(--steam-souvenir-yellow);
$color-secondary: darkorange;
$color-third: #dc3545;
$steam-nametag-red: #bd4847;
$color-datepicker: rgba(255, 255, 255, 0.7);

$background-primary: #1d2124;
$background-secondary: #23272b;

$border-color-primary: #4a5259;
